services:
  web:
    build: ./app
    ports:
      - "8080:80"
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./app/init.sql:/docker-entrypoint-initdb.d/init.sql
